<extend name="mobile/template/base_index" />

<block name="area_header">
	<style type="text/css">
		html{
			font-size: 12px;
		}
	</style>

</block>

<block name="area_body">

	<div class="header">
		<include file="mobile/partials/header" />
	</div>

	<div class="banner-wrp">
		<div></div>
	</div>

	<div class="cate-wrp clearfix">
		<div class="cate-item-wrp">
			<div class="cate-item">
				<a href="{:U('Home/Index/aboutus')}">
					<div class="item-icon">
						<i class="fa fa-home"></i>
					</div>
					<div class="item-desc">公司</div>
				</a>
			</div>
		</div>
		<div class="cate-item-wrp">
			<div class="cate-item">
				<a href="{:U('Home/Index/products')}">
					<div class="item-icon">
						<i class="fa fa-coffee"></i>
					</div>
					<div class="item-desc">产品</div>
				</a>
			</div>
		</div>
		<div class="cate-item-wrp">
			<div class="cate-item">
				<a href="{:U('Home/Index/news')}">
					<div class="item-icon">
						<i class="fa fa-file-text"></i>
					</div>
					<div class="item-desc">新闻</div>
				</a>
			</div>
		</div>
	</div>

	<div class="list-wrp">
		<div class="list-title"><i class="title-icon fa fa-star"></i>世界的味道</div>
		<div class="list-content"></div>
	</div>

	<div class="list-wrp">
		<div class="list-title"><i class="title-icon fa fa-star"></i>咖啡的历史</div>
		<div class="list-content"></div>
	</div>

	<div class="list-wrp">
		<div class="list-title"><i class="title-icon fa fa-star"></i>热点新闻</div>
		<div class="list-content"></div>
	</div>
	<div class="footer">
		<include file="mobile/partials/footer" />
	</div>
</block>

<block name="area_footer">
	<script>
		$(function(){
			
		})
	</script>
</block>