<extend name="template/base_index" />


<block name="area_header">
		<link rel="stylesheet" type="text/css" href="__CDN__/jquery-ztree/3.5/css/zTreeStyle/zTreeStyle.css" />
		<script type="text/javascript" src="__CDN__/jquery-ztree/3.5/js/jquery.ztree.core-3.5.min.js"></script>
		<script type="text/javascript" src="__CDN__/jquery-ztree/3.5/js/jquery.ztree.excheck-3.5.min.js"></script>
		<script type="text/javascript" src="__CDN__/jquery-ztree/3.5/js/jquery.ztree.exedit-3.5.min.js"></script>
		<style type="text/css">
			.ztree *{
				font-size: 14px;
			}
		</style>
</block>

<block name="area_body">
	{:W('Menus/topbar')}
	<div class="admin-main container-fluid">
		{:W('Menus/left')}
		<div class="admin-main-content">
			{:W('Menus/breadcrumb')}
		
			<!-- 带验证 form -->
			<form class="form-horizontal well validateForm">
				<input type="hidden" name="org_ids" id="checkedOrgIds" value=""  />
				<fieldset>
					<legend>选择需要参与测评的机构
						</legend>
					<div class="form-group">
						<label for="btns" class="col-md-2 col-lg-2 control-label">&nbsp;</label>
						<div class="col-lg-10 col-md-10">
							<a target-form="validateForm" onclick="getChecked();" class="ajax-post btn btn-sm btn-primary" href="{:U('Admin/TestSys/org',array('id'=>I('get.id',0)))}" autofocus="autofocus"><i class="fa fa-save"></i> {:L('BTN_SAVE')}</a>
							<a class="btn btn-default  btn-sm" href="{:U('Admin/TestSys/index')}"><i class="fa fa-reply"></i>返回</a>
						</div>
					</div>
					
					<div class="form-group">
						<label for="btns" class="col-md-2 col-lg-2 control-label">请选中需要参与测评的机构</label>
						<div class="col-lg-10 col-md-10">
							<div class="loading"><img src="__CDN__/common/loading.gif" /></div>
							<ul class="ztree" id="tree"></ul>
						</div>
					</div>
					
					<div class="form-group">
						<label for="btns" class="col-md-2 col-lg-2 control-label">&nbsp;</label>
						<div class="col-lg-10 col-md-10">
							<a target-form="validateForm" onclick="getChecked();" class="ajax-post btn btn-sm btn-primary" href="{:U('Admin/TestSys/org',array('id'=>I('get.id',0)))}" autofocus="autofocus"><i class="fa fa-save"></i> {:L('BTN_SAVE')}</a>
							<a class="btn btn-default  btn-sm" href="{:U('Admin/TestSys/index')}"><i class="fa fa-reply"></i>返回</a>
						</div>
					</div>
				</fieldset>
			</form>
			<!-- form -->

		</div>
		<!-- END admin-main-content -->
	</div>
		<!-- END admin-main-->
</block>

<block name="area_footer">
<script>
		var setting = {
			check: {
				enable: true
			},
			data: {
				simpleData: {
					enable: true,
					idKey: "id",
					pIdKey: "father",
					rootPId: 0
				}
			},
			callback: {
			},
			view: {
				showIcon: false
			}
		};
		
		var dataMaker = function(data) {
			var nodes = data;
			return nodes;
		}
		

		function createTree () {
			
			var id = 0;
			$.ajax({
				type:"post",
				url:"{:U('Admin/TestSys/org_json')}?id="+id+"&testid={$id}",
				async:true,
				beforeSend:function(){
					$(".validateForm .loading").show();
				}				
			}).done(function(data){
				console.log(data);
				if(data.status){
					var zNodes = dataMaker(data.info);
					$("#tree").empty();
					var time1 = new Date();
					$.fn.zTree.init($("#tree"), setting, zNodes);
					var time2 = new Date();
				}else{
					$.scojs_message(data.info, $.scojs_message.TYPE_OK);
				}
			}).always(function(){
				$(".validateForm .loading").hide();
			});
			
			
		}

		function getChecked(){
			var treeObj = $.fn.zTree.getZTreeObj("tree");
			var nodes = treeObj.getCheckedNodes(true);
			var ids = "";
			for(var i=0;i<nodes.length;i++){
				ids = ids+nodes[i].id+",";
			}
			$("#checkedOrgIds").val(ids);
			console.log(nodes,ids);
		}
		
		$(document).ready(function(){
			createTree();
			$("#btnGetChecked").click(function(){
				getChecked();
			})
		});
		</script>



</block>