<extend name="template/base_index" />


<block name="area_header">
	

</block>

<block name="area_body">
	{:W('Menus/topbar')}
	<div class="admin-main container-fluid">
		{:W('Menus/left')}
		<div class="admin-main-content">
			{:W('Menus/breadcrumb')}
		
			<!-- 带验证 form -->
			<form class="form-horizontal well validateForm">
				<input type="hidden" name="id" value="{$vo.id}" />
				<fieldset>
					<legend>测验信息查看
						</legend>
					<div class="form-group">
						<label for="btns" class="col-md-2 col-lg-2">&nbsp;</label>
						<div class="col-lg-10 col-md-10">
							<a class="btn btn-default" href="javascript:history.back(-1);"><i class="fa fa-reply"></i>返回</a>
						</div>
					</div>
					<div class="form-group">
						<label for="inputtitle" class="col-md-2 col-lg-2 text-right">测验标题</label>
						<div class="col-md-10 col-lg-10">
							<div class="text-info">{$vo.title}</div>
						</div>
					</div>
					<div class="form-group">
						<label for="inputtitle" class="col-md-2 col-lg-2 text-right">测验时间段</label>
						<div class="col-md-10 col-lg-10">
							<div class="text-info">{$vo.start_time}至{$vo.end_time}</div>
						</div>
					</div>
					<div class="form-group">
						<label for="inputdesc" class="col-md-2 col-lg-2 text-right">测验概述</label>
						<div class="col-md-10 col-lg-10">
							<div class="text-info">{$vo.desc}</div>
						</div>
					</div>
					<div class="form-group">
						<label for="inputtext" class="col-md-2 col-lg-2 text-right">测验详情说明</label>
						<div class="col-md-10 col-lg-10">
							<div class="text-info">{:htmlspecialchars_decode($vo['text'])}</div>
						</div>
					</div>
					<div class="form-group">
						<label for="btns" class="col-md-2 col-lg-2 control-label">&nbsp;</label>
						<div class="col-lg-10 col-md-10">
							<a class="btn btn-default" href="{:U('Admin/TestSys/index')}"><i class="fa fa-reply"></i>返回</a>
						</div>
					</div>
				</fieldset>
			</form>
			<!-- form -->

		</div>
		<!-- END admin-main-content -->
	</div>
		<!-- END admin-main-->
</block>

<block name="area_footer">

<script>

    
    
    $(function(){
    		
    })
	</script>
</block>