<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="utf-8">
		<title>{:C('WEBSITE_TITLE')}</title>
		<meta name="keywords" content="{$seo.keywords|default=" "}" />
		<meta name="description" content="{$seo.description|default=" "}" />
		<meta name="author" content="{$cfg.owner|default=" ITBOYE "}" />
	    <meta content="yes" name="apple-mobile-web-app-capable" />
	    <meta content="yes" name="apple-touch-fullscreen" />
	    <meta content="telephone=no,email=no" name="format-detection" />
	    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<script type="text/javascript" src="__CDN__/common/rem.js"></script>
		
		<!-- 系统基本样式 -->
		
		<link type="text/css" rel="stylesheet" href="__CDN__/normalize/3.0.3/normalize.css" />
		<link type="text/css" rel="stylesheet" href="__CDN__/fontawesome/4.3.0/css/font-awesome.min.css" />
		<link type="text/css" rel="stylesheet" href="__CSS__/layout.css?v=__APP_VERSION__" />
		
		<link type="text/css" rel="stylesheet" href="__CSS__/theme-cafe.css?v=__APP_VERSION__" />
		
		<!-- 脚本 -->
		<script type="text/javascript" src="__CDN__/jquery/2.1.1/jquery.min.js"></script>
		
		<block name="area_header">
			<!--顶部区域 -->
		</block>

	</head>
	
	<body class="theme-default theme-cafe app">

		<block name="area_body">
			<!--内容区域 -->
		</block>
		<block name="area_footer">
			<!--底部区域 -->
		</block>
		
		
		<div class="gotop gotop-fixed">
		  <a href="#" title="回到顶部">
		    <i class="fa fa-chevron-up"></i>
		  </a>
		</div>
		<script type="text/javascript">
			$(function(){
				
				$(window).bind("scroll",function(ev){
					if($(window).scrollTop() > 100){
						$(".gotop").addClass("show");
					}else{
						$(".gotop").removeClass("show");
					}
					
					if($(document).scrollTop() + $(window).height()+10 >= $(document).height()){
						$(".gotop").addClass("arrived_bottom");
					}else{
						$(".gotop").removeClass("arrived_bottom");
					}
				})
			})
		</script>
	</body>

</html>