<extend name="template/base_index" />

<block name="area_header">

</block>

<block name="area_body">

	<div id="general">

		<div class="content-all">
			<div class="contenedor-content-all">

				<div id="header">
							<include file="default/partials/header" active="4" />
				</div>
				
				<div class="contenedor-interior">
					<div class="contenedor-content">
						<div class="fondo-abajo">
							<div class="fondo-arriba">
								<div class="centrar-contenido">
									<div id="content">
										<div class="con-menu">
											<div id="menu-interior">

												<div id="menu-secundario">
													<ul>
														<li class="primero sel">
															<a href="__PUBLIC__/Home/img/The History of Coffee.html" class=" con-hijos" title="History "><span>历史 </span></a>

															<ul>
																<li class="primero sel">
																	<a href="__PUBLIC__/Home/img/The History of Coffee.html" title="The History of Coffee"><span>咖啡的历史</span></a>

																</li>
																<li class="ultimo ">
																	<a href="http://en.cafesoquendo.com/pages/index/coffee-chronology" title="Chronology of Coffee"><span>咖啡的年代</span></a>

																</li>

															</ul>

														</li>
														<li class="ultimo ">
															<a href="http://en.cafesoquendo.com/pages/index/cultivation" class=" con-hijos" title="Production Process"><span> 生产过程</span></a>

														</li>

													</ul>
												</div>

											</div>

											<div id="content-informacion" class="block">

												<div class="migas">
													<p>
														<span>您正在浏览:</span>

														<a href="" title="Barista community">咖啡师社区</a> &gt; <a href="" title="History ">历史 </a> &gt; 咖啡的历史
													</p>
												</div>

												<h1><span class="titulo">      	
         
              
                 咖啡的历史
              
         
	
  </span></h1>

												<div class="fondo-total block">
													<div class="content-fondo-total">
														<div class="esq-top-izq">

															<div class="esq-top-der">
																<div class="esq-bottom-der">
																	<div class="esq-bottom-izq">

																		<div class="block contenido-izquierda">

																			<p align="justify">&nbsp;
																				<img class="nicedit_sin-alinear" alt="history" src="__PUBLIC__/Home/img/710x116_history.jpg" width="710" height="116">
																			</p>
																			<p align="justify">&nbsp;</p>
																			<div style="text-align: justify;">
																			</div>
																			<div style="text-align: justify;">
																			</div>
																			<div style="text-align: justify;">
																			</div>
																			<p style="text-align: justify;">几百年前,根据传统的咖啡传说,一个阿比西尼亚牧人照管他的山羊喂食后发现他们变得非常顽皮的bean从当地的咖啡树。 牧羊人有关他的故事,一个从当地寺院方丈继续煮豆子,并发现了双重的效应,结果酒对他和他的僧侣:他们更精神警戒,阻止他们在长期虔诚守夜打瞌睡。 这个消息像野火一样蔓延和咖啡很快就被用于阿拉伯医学。 咖啡豆是吃,或者在水、油或水果在公元1000年之前,当他们第一次发酵成一种葡萄酒。

																			</p>
																			<div style="text-align: justify;">
																			</div>
																			<p style="text-align: justify;">&nbsp;</p>
																			<div style="text-align: justify;">
																				传说,我们知道,非洲部落意识到咖啡可以追溯到非常偏远。 事实上,他们豆子磨成paste-like物质,他们用来喂养动物。 这贴也被战士相信这嘱咐他们必要的勇气进入战斗前做斗争。 那些俘虏被派往奴隶制和阿拉伯,他们喜欢这奇怪的食品第一次阿拉伯征服者的注意。

																				</p>
																				<div style="text-align: justify;">
																				</div>
																				<p style="text-align: justify;">&nbsp;</p>
																				<div style="text-align: justify;">
																				</div>
																				<p style="text-align: justify;">它也是有趣的,这些奴隶被运到阿拉伯半岛通过摩卡港,这个名字已经经受住了时间的考验,并将继续为世界各地的咖啡爱好者举办具有重要意义。</p>
																				<p>
																					<br>
																				</p>
																			</div>
																			<!--contenido-izquierda-->
																		</div>
																	</div>
																</div>

															</div>
														</div>
													</div>
													<!---fondo-total-->

												</div>
											</div>
										</div>
										<!--content-->
									</div>
								</div>
							</div>
						</div>

					</div>
					<!--contenedor-interior-->

					<div class="newsletter-pie">
						<include file="default/partials/newsletter" />
					</div>

					<div id="footer">

						<include file="default/partials/footer" />

					</div>
					<!--footer-->

				</div>
			</div>

		</div>
	</div>
</block>


<block name="area_footer">

</block>