<extend name="template/base_index" />

<block name="area_header">
<style type="text/css">
	.ficha-producto .enlaces-redes{
		background: url(__IMG__/bg_enlaces_redes.gif) repeat-x left bottom;
	}
	.caja-blanca img{
		width: auto;
		height: auto;
	}
	.listado-productos-tienda .fila-productos .producto .content-producto{
		  background: url(__PUBLIC__/Home/img/carrito_bottom.gif) no-repeat left bottom;
	}
	.listado-productos-tienda .fila-productos .producto{
		  background: url(__IMG__/carrito_top.png) no-repeat left top;
		  width: 220px;
		  padding: 0px;
		  margin: 0 10px 10px 0;
	}
</style>
</block>

<block name="area_body">

	<div id="all">
		<div id="general">
			<div class="content-all">
				<div class="contenedor-content-all">
					<div id="header">
						<include file="default/partials/header" />
					</div>
					<div class="contenedor-interior">
						<div class="contenedor-content">
							<div class="fondo-abajo">
								<div class="fondo-arriba">
									<div class="centrar-contenido">
										<div id="content">
											<div class="con-menu">
												<div id="content-informacion" class="block">

													<div class="migas">
															<p>
																<span>您正在浏览 :</span>
																<a href="http://en.cafesoquendo.com/productos">产品</a> &gt;{$entity.post_title}
															</p>
													</div>
													<div class="block contenido-izquierda">

														<h1><span class="titulo">{$entity.post_title}</span></h1>
														<div class="listado-productos-tienda">
															<div class="ficha-producto">
																<div class="content-ficha-producto">
																	<div class="caja-blanca">
																		<div class="enlaces-redes">
																			
																		</div>
																		<div class="imagen-producto">
																			<img alt="" src="{$entity.main_img}" title="Ground Coffee Single Origins: Vietnam">
																		</div>
																		<div class="info-producto">
																			<!--<div class="categorias">
																				<a href="#" title="{$entity.post_catename}">{$entity.post_catename}</a>
																			</div>-->
																			<h2>{$entity.post_title}</h2>
																			<div class="descripcion">
																				{:htmlspecialchars_decode($entity['post_content'])}
																			</div>

																		</div>
																	</div>
																</div>
															</div>
															<!--ficha-producto-->
															
															
															<div class="caja-titulo-ficha-producto">
																<h2>猜你喜欢</h2>
															</div>
															<div class="fila-productos">
																<volist name="goods" id="vo">
																	<div class="producto">

																		<div class="content-producto">
																			<div class="caja-blanca">
																				<a href="{:U('Home/Index/details',array('id'=>$vo['id']))}" title="">
																					<img alt="" src="{$vo.main_img}" title="">
																				</a>
																			</div>
																			<h3><a href="{:U('Home/Index/details',array('id'=>$vo['id']))}" title="{$vo.post_title}">{$vo.post_title}</a></h3>

																		</div>

																	</div>
																</volist>

																<!--fila-productos-->
															</div>
														</div>
														<!--listado-productos-tienda-->
														<div class="columna-derechan">

															<!--caja-carrito-->
															<div class="buscador">

																<div class="buscador_contents">
																	<div class="esq-top-izq">
																		<div class="esq-top-der">
																			<div class="esq-bottom-der">
																				<div class="esq-bottom-izq">
																					<div class="caja-formulario">
																						<h3 class="titulo-buscador"> 网页搜索</h3> 您可以使用搜索工具找到一个产品在我们的在线商店::
																						<form action="{:U('Home/Index/products')}" method="post">
																							<div class="buscador-noticias">
																								<div class="texto">
																									<input type="text" name="text" size="24" id="content_search" name="content_search" value="">
																								</div>

																								<div>

																									<div>
																										<select name="typee">
																											<option value="all">全部</option>
																											<volist name="types" id="vo">
																												<option value="{$vo.hidden_value}">{$vo.name}</option>
																											</volist>
																										</select>

																									</div>

																									<div class="content-botones">
																										<div class="botones">
																											<input type="submit" value="Search" name="commit" id="buscar" class="boton">
																										</div>
																									</div>
																								</div>

																							</div>
																						</form>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>

																	<div class="enlace-rss">
																		<a href="http://en.cafesoquendo.com/productos/rss_productos" class="rss" title="RSS">RSS</a>

																	</div>
																</div>
																<!--buscador-->
															</div>

														</div>
														<!--contenido-izquierda-->
													</div>
												</div>
											</div>
											<!--content-->
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--contenedor-interior-->

						<div class="newsletter-pie">
							<include file="default/partials/newsletter" />
						</div>

						<div id="footer">
							<include file="default/partials/footer" />
						</div>
						<!-- FOOTER -->
					</div>
				</div>
			</div>
		</div>
	</div>
</block>

<block name="area_footer">

</block>