<extend name="template/base_index" />

<block name="area_header">

</block>

<block name="area_body">



	<div id="all">
		<div id="general">

			<div class="content-all">
				<div class="contenedor-content-all">

					<div id="header">
						<include file="default/partials/header"  />
					</div>

					<div class="contenedor-interior">
						<div class="contenedor-content">
							<div class="fondo-abajo">
								<div class="fondo-arriba">
									
									<div class="centrar-contenido">
										<div id="content">
											<div class="con-menu">
												<div id="menu-interior">

													<div id="menu-secundario">
														<ul>
															<li>
																<a href="{:U('Home/Index/business')}" title="Business presentation"><span>公司产品</span></a>
															</li>
															<li class="sel">
																<a href="{:U('Home/Index/distributor')}" title="Distribution and delegations"><span>总部和供应商</span></a></li>
															<!--<li>
																<a href="http://en.cafesoquendo.com/formcontacts/show/work-with-us" title="Work with us"><span>和我们一起工作</span></a>
															</li>-->
															<li>
																<a href="{:U('Home/Index/news')}" title="news"><span>新闻</span></a>
															</li>
															<li class="ultimo ">
																<a href="{:U('Home/Index/quality')}" title="Quality"><span>质量</span></a>
															</li>
														</ul>
													</div>

												</div>

												<div id="content-informacion" class="block">
													<div class="migas">
														<p>
															<span>你正在: </span>

															<a href="{：U('Home/Index/business')}" title="Empresa">我的公司</a> > 经销商分布
														</p>
													</div>

													<h1><span class="titulo">    经销商分布

 										 </span></h1>
													<div class="fondo-total">
														<div class="content-fondo-total">
															<div class="esq-top-izq">
																<div class="esq-top-der">
																	<div class="esq-bottom-der">
																		<div class="esq-bottom-izq">

																			<div class="block contenido-izquierda">
																				<div class="bloque-superior">
																					<img alt="Mapa mundial" src="__PUBLIC__/Home/img/339x227_mapa_mundial.jpg" class="imagen-derecha" height="227" width="339">
																					<h2>全球影响力</h2>
																					<div style="text-align: justify; line-height: 3">
																						咖啡馆Oquendo 位于西班牙北部坎塔布连山的中央海岸,在阿斯图里亚斯省有着悠久传统的好咖啡。 我们是一个良好的公司拥有超过20年的经验。 在全国范围内我们是一个领先的公司在酒店,食品和餐饮行业,我们现在增加和巩固我们在国际市场存在。

																					</div>
																					<div class="tres-bloques">

																						<div class="bloque primero">

																							<h3>代表团 </h3>
																							<ul>
																								<li>莫斯科
																								</li>
																								<li>阿里坎特</li>
																								<li>阿尔梅里亚</li>
																								<li>巴塞罗那
																								</li>
																								<li>毕尔巴鄂</li>
																								<li>jean
																								</li>
																								<li>里昂</li>
																								<li>鲁格</li>
																								<li>马德里</li>
																								<li>奥瑞斯</li>
																								<li>萨拉卡曼
																								</li>
																								<li>桑坦德</li>
																								<li>圣塞巴斯蒂安</li>
																								<li>特内里费
																								</li>
																								<li>瓦伦西亚
																								</li>
																								<li>巴利亚多利德
																								</li>
																								<li>萨莫拉
																									<br/>
																								</li>
																							</ul>

																						</div>
																						<div class="bloque segundo">

																							<h3>西班牙供应商</h3>
																							<ul>
																								<li>阿尔瓦赛特</li>
																								<li>布尔格斯
																									<br/>
																								</li>
																								<li>阿维拉
																								</li>
																								<li>巴利阿里
																								</li>
																								<li>布尔格斯</li>
																								<li>卡萨雷斯
																								</li>
																								<li>格拉纳达
																								</li>
																								<li>伊比沙岛
																								</li>
																								<li>特罗多</li>
																							</ul>
																							<p>
																								<br/>
																							</p>
																							<br/>
																							<br/>

																						</div>
																						<div class="bloque tercero">

																							<h3>国际供应商</h3>
																							<ul type="disc">
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">波罗里海诸国</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">比利时</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt"><span style="background-color: transparent;">中国</span>
																									<br/>
																								</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">捷克共和国</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">丹麦</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">几内亚</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">芬兰</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">法国</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">德国</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">匈牙利</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">爱尔兰</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">日本</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">摩洛哥
																									<br/>
																								</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">荷兰</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">挪威</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">波兰</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">葡萄牙</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">俄罗斯</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">韩国</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">瑞典</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">曼联</li>
																								<li class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;

     mso-list:l0 level1 lfo1;tab-stops:list 36.0pt">乌克兰
																									<br/>
																								</li>
																							</ul>

																						</div>
																					</div>
																					<div class="destacado-caja-amarilla" style="text-align: left;">
如果你想要的其他信息点分布在西班牙和其他国家对我们的服务或详细了解客户关注的直接访问，请与我们联系。
																					</div>
																				</div>
																				<!--contenido-izquierda-->
																			</div>
																		</div>
																	</div>

																</div>
															</div>
														</div>
														<!---fondo-total-->

													</div>
												</div>
											</div>
											<!--content-->
										</div>
									</div>
								</div>
							</div>

						</div>
						<!--contenedor-interior-->

						<div class="newsletter-pie">
							<include file="default/partials/newsletter" />
						</div>

						<div id="footer">

							<include file="default/partials/footer" />

						</div>
						<!--footer-->

					</div>
				</div>

			</div>
		</div>

	</div>
</block>
<block name="area_footer">

</block>