<extend name="template/base_index" />

<block name="area_header">

</block>

<block name="area_body">


		<div id="all">
			<div id="general">

				<div class="content-all">
					<div class="contenedor-content-all">

						<div id="header">
							<include file="default/partials/header" active="6"  />
						</div>
						<div class="contenedor-interior">
							<div class="contenedor-content">
								<div class="fondo-abajo">
									<div class="fondo-arriba">
										<div class="centrar-contenido">
											<div id="content">
												<div class="con-menu">
													<div id="menu-interior">

													</div>

													<div id="content-informacion" class="block">
														<div class="migas">
															<p>
																<span>正在浏览 :</span> 常见问题
															</p>
														</div>

														<h1><span class="titulo"> 常见问题 </span></h1>

														<div class="fondo-total block">
															<div class="content-fondo-total">
																<div class="esq-top-izq">

																	<div class="esq-top-der">
																		<div class="esq-bottom-der">
																			<div class="esq-bottom-izq">

																				<div class="block contenido-izquierda">

																					<div style="TEXT-ALIGN: justify">
																						<h2>1. 可以使用什么付款方法?</h2>当访问www.cafesoquendo.com的在线商店可以使用以下三种付款方法:信用卡,PayPal和银行转账。中国官网在线商店正在建设中...
																						<br>
																						<br>
																						<h2>2. 我如何进入网上商店?</h2>在线商店的产品可用选项卡在网站的主页上。 一旦你已经找到这篇文章,你想购买,点击物品的购买按钮,它会自动添加到您的篮子里。
																						<br>
																						<br>
																						<h2>3. 我必须注册才能购买?</h2>物品可能会选择和添加到您的篮子里没有以前注册的。 然而,为了完成购买,用户需要填写某些信息来完成订单。 如果用户已经在系统中注册,一旦基本访问数据被输入其他自动输入所需的信息。 未注册的用户应该注册在这一点上,手动输入所需的细节,这样在未来的场合这些可以自动加载。
																						<br>
																						<br>
																						<h2>4. 我如何购买产品?</h2>产品显示在在线商店www.cafesoquendo.com的主页选项卡。 一旦将所需的产品,用户应该点击购买按钮,这篇文章将会自动添加到篮子里。 每次用户重复这个动作一篇文章添加到篮子里。 如果你想修改或删除一个项目,你应该去 修改篮子 链接。 如果你满意你的购买,你应该点击 去 结帐 按钮,此时用户应该填写所需的信息如果没有以前注册的。 如果用户已经在www.cafesoquendo.com注册,这些信息将被自动装载进入基本访问数据。
																						<br>
																						<br>
																						<h2>5. 产品的价格包括运费吗?</h2>产品在我们的网上商店的价格不包括运费(6.22€,增值税排除在外,在西班牙的订单交付)。 一旦输入所需的信息,在完成购买之前,用户可以检查给定地址的送货费用。
																						<br>
																						<br>
																						<h2>6. 增值税是包括在产品的价格吗?</h2>产品在我们的网上商店的价格不包括增值税。 在 修改篮子 链接用户可以检查这个产品的价格包括增值税之前完成购买。
																						<br>
																						<br>
																						<h2>7. 我如何检查产品的数量我已经添加到我的篮子吗?</h2>通过将 修改篮子 链接用户可以检查产品添加到篮子的数量以及价格和适用的增值税。
																						<br>
																						<br>
																						<h2>8. 我如何修改我的购物篮中的产品吗?</h2>修改用户应该去购买 修改篮子 链接。 这需要用户选择页面,所有的产品到目前为止显示:在这里,用户可以增加或减少每个产品的数量或删除所有的产品( 空篮子 )。
																						<br>
																						<br>
																						<h2>9. 我的订单可以发送到不同的地址吗? </h2>是的。 如果用户希望将订单发送到不同的地址, 这个盒子检查这个盒子如果送货地址是不同的 需要检查一下。 将会出现另一种形式的相关信息应包括在内。 最好的交货时间也可以选择在这一点上。
																						<br>
																						<br>
																						<h2>10. 我该怎么办如果文章我收到有缺陷,我想回报他们吗?</h2>如果收到有缺陷的产品用户应该联系 咖啡馆Oquendo 通过电话,我们的客服电话902 216 226或电子邮件:disfruta@cafesoquendo.com。
																						<br>
																						<br>
																						<h2>11. 我该怎么办如果我的订单没有到达?</h2>I如果订单不到了,用户应该联系 咖啡馆Oquendo 通过电话,我们的客服电话902 216 226或电子邮件:disfruta@cafesoquendo.com。 我该怎么做如果我想取消订单,我有吗? 如果你想取消订单已放置,你应该联系 咖啡馆Oquendo 通过电话,我们的客服电话902 216 226或电子邮件:disfruta@cafesoquendo.com。
																						<br>
																						<br>
																						<h2>12. 我没有收到一封电子邮件确认订单。 我该怎么做?</h2>如果您没有收到一封电子邮件确认您的订单,你应该联系 咖啡馆Oquendo 通过电话,我们的客服电话902 216 226或电子邮件:disfruta@cafesoquendo.com,这样可以确认订单
																						<br>
																						<br>
																						<h2>13. 要多久我才能到达?</h2>
																						<div style="TEXT-ALIGN: justify">货物交付后3 - 5个工作日内。</div>
																					</div>
																					<div style="TEXT-ALIGN: justify">
																						<br>
																						<h2>14. 我该怎么办如果我一直收取不同的价格,在这个网站?</h2>如果你一直收取不同的价格,显示在网站上,你应该联系 咖啡馆Oquendo 通过电话,我们的客服电话902 216 226或电子邮件:disfruta@cafesoquendo.com。
																						<br>
																						<br>
																						<h2>15. 有最低订购量的限制吗?</h2>没有最低订购量。 用户可以添加任意数量的产品到他/她的篮子里。
																						<br>
																						<br>
																					</div>

																				</div>
																				<!--contenido-izquierda-->
																			</div>
																		</div>
																	</div>

																</div>
															</div>
														</div>
														<!---fondo-total-->

													</div>
												</div>
											</div>
											<!--content-->
										</div>
									</div>
								</div>
							</div>

						</div>
						<!--contenedor-interior-->

						<div class="newsletter-pie">
							
								<include file="default/partials/newsletter" />

						</div>

						<div id="footer">
							<include file="default/partials/footer" />
						</div>
						<!--footer-->

					</div>
				</div>

			</div>
		</div>

</block>

<block name="area_footer"></block>