<extend name="template/base_index" />

<block name="area_header">

	<link rel="stylesheet" type="text/css" href="__CDN__/jquery-nivoslider/nivo-slider.css" />
	<link rel="stylesheet" type="text/css" href="__CDN__/jquery-nivoslider/themes/dark/dark.css" />

	<script type="text/javascript" src="__CDN__/jquery-nivoslider/jquery.nivo.slider.pack.js"></script>
	<style type="text/css">
		
		.slider-wrapper{
			position: relative;
		}
		
		.theme-dark.slider-wrapper{
			background: none;
			padding: 1px;
		}
		
		.carrusel-home{
			background:url('__IMG__/simhei.gif') repeat-x left top;
		}
		
		.theme-dark .nivo-controlNav{
			text-align: center;	
		}
		
	</style>
</block>

<block name='area_body'>

	<div id="all">
		<div id="general">
			<div class="content-all">
				<div class="contenedor-content-all">

					<div id="header">
						<include file="default/partials/header" active="1" />
					</div>

					<!--
							滚动图片
						-->
					<div class="carrusel-home">
					<div class="slider-wrapper theme-dark ">
						<div class="ribbon"></div>
						<div id="slider" class="nivoSlider" style="max-width: 1278px;margin:auto;">
							<volist name="banners['list']" id="vo">
								
								<img  src="{$vo.img}" alt="{$vo.title}" title="{$vo.notes}" />
							</volist>
						</div>
					</div>
					</div>
					<!--carrusel-home-->
					<div class="contenedor-content">
						<div class="fondo-abajo">
							<div class="fondo-arriba">
								<div class="centrar-contenido">

									<div id="content">
										<div id="content-home">

											<div class="tres-bloques">

												<div class="bloque izquierda">
													<div class="titulo-editable">
														<h2>世界的味道<br></h2>
													</div>
													<div class="caja-blanca">
														<div class="bloque-editable">
															<img src="__PUBLIC__/Home/img/2.jpg" alt="portada1" class="nicedit_sin-alinear" style="WIDTH: 257px; HEIGHT: 80px;">&nbsp;
															<p align="right">
																<img src="__PUBLIC__/Home/img/molinillo.jpg" alt="molinillo" class="imagen-derecha" style="WIDTH: 90px; HEIGHT: 95px">
															</p>
															<h3>选择奥肯多</h3>
															<div style="text-align: justify;">你会发现我们的产品范围广泛，并沉浸我们的咖啡香味和味道之中.</div>

														</div>
														<div class="ver-todos">
															<div class="content-ver-todos">
																访问我们的产品
															</div>
														</div>
													</div>
												</div>

												<div class="bloque centro">
													<div class="titulo-editable">

														<h2>咖啡的年代<br></h2>

													</div>
													<div class="caja-blanca">
														<div class="bloque-editable">
															<img src="__PUBLIC__/Home/img/263x102_cronologiaeng.jpg" alt="chronology" class="nicedit_sin-alinear" width="263" height="102">&nbsp;
															<div style="text-align: justify;">你是一个咖啡爱好者？
																<br>点击下面的链接你将会看到, 看一眼我们最喜爱的饮料咖啡的演变历史。
																<br>
															</div>
														</div>
														<div class="ver-todos">
															<div class="content-ver-todos">
																<h2><span class="texto-peque"><a href="http://en.cafesoquendo.com/pages/index/coffee-chronology" title="Go to Chronology of Coffee">去看看咖啡的大事记</a><br></span></h2>
																<h3>                                     		                                    		                                    		                                    		                                    		</h3>

															</div>
														</div>
													</div>
												</div>
												<div class="bloque derecha">
													<div class="titulo-editable">
														<h2>新闻资讯</h2>

													</div>
													<div class="listado-noticias">

														<ul>
															<volist name="list" id="vo">
																<li>
																	<a href="{:U('Home/Index/details',array('id'=>$vo['id']))}" title="点击详情">
																		<img alt="" src="{$vo.main_img}" title="{$vo.post_title}">
																	</a>

																	<div class="con-imagen">
																		<h3><a href="{:U('Home/Index/details',array('id'=>$vo['id']))}" title="{$vo.post_title}">{$vo.post_title}</a></h3>
																		<div class="fecha">
																			<span>{$vo.post_date|date='Y-m-d H:i:s',###}</span>
																		</div>
																	</div>
																</li>
															</volist>
														</ul>
														<div class="ver-todos">
															<div class="content-ver-todos">
																<a class="q1" title="前往查看" href="{:U('Home/Index/news')}">查看全部</a>
															</div>
														</div>

													</div>
												</div>
											</div>
											<!--tres-bloques-->
										</div>
									</div>
									<!--content-->
								</div>

							</div>
						</div>
					</div>

					<div class="newsletter-pie">

						<include file="default/partials/newsletter" />
					</div>

					<div id="footer">

						<include file="default/partials/footer" />

					</div>

				</div>
			</div>

		</div>
	</div>

</block>

<block name="area_footer">
	<script type="text/javascript">
		$(function(){
			$('#slider').nivoSlider({
		    effect: 'random',                 // Specify sets like: 'fold,fade,sliceDown'
		    slices: 15,                     // For slice animations
		    boxCols: 8,                     // For box animations
		    boxRows: 4,                     // For box animations
		    animSpeed: 500,                 // Slide transition speed
		    pauseTime: 3000,                 // How long each slide will show
		    startSlide: 0,                     // Set starting Slide (0 index)
		    directionNav: false,             // Next & Prev navigation
		    controlNav: true,                 // 1,2,3... navigation
		    controlNavThumbs: false,         // Use thumbnails for Control Nav
		    pauseOnHover: true,             // Stop animation while hovering
		    manualAdvance: false,             // Force manual transitions
		    prevText: 'Prev',                 // Prev directionNav text
		    nextText: 'Next',                 // Next directionNav text
		    randomStart: false,             // Start on a random slide
		    beforeChange: function(){},     // Triggers before a slide transition
		    afterChange: function(){},         // Triggers after a slide transition
		    slideshowEnd: function(){},     // Triggers after all slides have been shown
		    lastSlide: function(){},         // Triggers when last slide is shown
		    afterLoad: function(){}         // Triggers when slider has loaded
		});
			
		});
		
	</script>
</block>