<extend name="template/base_index" />

<block name="area_header">
<style type="text/css">
	.caja-blanca img{
		width:auto;
		height:auto;
	}
	.listado-productos-tienda .fila-productos .producto .content-producto{
		  background: url(__PUBLIC__/Home/img/carrito_bottom.gif) no-repeat left bottom;
	}
	.listado-productos-tienda .fila-productos .producto{
		  background: url(__IMG__/carrito_top.png) no-repeat left top;
		  width: 220px;
		  padding: 0px;
		  margin: 0 10px 10px 0;
	}
</style>
</block>

<block name="area_body">

	<div id="all">
		<div id="general">
			<div class="content-all">
				<div class="contenedor-content-all">
					<div id="header">
						<include file="default/partials/header" active="3" />
					</div>
					<div class="contenedor-interior">
						<div class="contenedor-content">
							<div class="fondo-abajo">
								<div class="fondo-arriba">
									<div class="centrar-contenido">
										<div id="content">
											<div class="con-menu">
												<div id="content-informacion" class="block">

													<div class="migas">
														<p>
															<span>您正在访问:</span>产品
														</p>
													</div>

													<div class="block contenido-izquierda">

														<h1>产品</h1>
														<div class="listado-productos-tienda">
															<div class="pestanyas">

																<ul>
																	<li <eq name="type" value="-1"> class="primero sel"</eq> >

																		<a href="{:U('Home/Index/products',array('type'=>''))}" title="All the news"><span>所有</span></a>
																	</li>
																	<volist name="type_list" id="vo">
																		<li <eq name="vo['id']" value="$type">class="primero sel"</eq> >
																			<a href="{:U('Home/Index/products',array('type'=>$vo['id']))}" title="{$vo.name}">
																				<span>{$vo.name}</span>
																			</a>
																		</li>
																	</volist>

																</ul>

															</div>
															<div class="fila-productos">

																<volist name="list" id="vo">
																	<div class="producto">
																		<div class="content-producto">
																			<div class="caja-blanca">
																				<a href="{:U('Home/Index/details',array('id'=>$vo['id']))}" title="">
																					<img alt="" src="{$vo.main_img}">{$vo1.post_title}</a>
																			</div>
																			<h3><a href="{:U('Home/Index/details',array('id'=>$vo['id']))}" title="">{$vo.post_title}</a></h3>
																		</div>
																	</div>
																</volist>
															</div>
														</div>

														<div class="columna-derecha">

															<!--caja-carrito-->
															<div class="buscador">

																<div class="buscador_contents">
																	<div class="esq-top-izq">
																		<div class="esq-top-der">
																			<div class="esq-bottom-der">
																				<div class="esq-bottom-izq">
																					<div class="caja-formulario">
																						<h3 class="titulo-buscador"> 网页搜索</h3> 您可以使用搜索工具找到一个产品在我们的在线商店:
																						<form action="{:U('Home/Index/products')}" method="post">

																							<div class="buscador-noticias">
																								<div class="texto">
																									<label for="content_search" class="title">内容</label>
																									<input type="text" name="text" size="24" id="content_search" name="content_search" value="">
																								</div>

																								<div>

																									<div>
																										<select name="typee">
																											<option value="all">全部</option>
																											<volist name="types" id="vo">
																												<option value="{$vo.hidden_value}">{$vo.name}</option>
																											</volist>
																										</select>

																									</div>

																									<div class="content-botones">
																										<div class="botones">
																											<input type="submit" value="Search" name="commit" id="buscar" class="boton">
																										</div>
																									</div>
																								</div>

																							</div>
																						</form>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>

																	<div class="enlace-rss">
																		<a href="http://en.cafesoquendo.com/productos/rss_productos" class="rss" title="RSS">RSS</a>

																	</div>
																</div>
																<!--buscador-->
															</div>
														</div>
														<!--contenido-izquierda-->
													</div>
												</div>
											</div>
											<!--content-->
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--contenedor-interior-->

						<div class="newsletter-pie">
							<include file="default/partials/newsletter" />
						</div>

						<div id="footer">
							<include file="default/partials/footer" />
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</block>

<block name="area_footer"></block>