/**************************************************************************/
/************************** GMaps *****************************************/
/**************************************************************************/
HTML,BODY{
	border:0!important;
}
.gmap img {
    background-color: transparent;
    border: none;
    padding: 0;
}

a.delete_gmap {
    background-image: url(/images/administracion/icons/eliminar.gif);
    position: absolute;
    top: 62px;
    left: 5px;
    z-index: 1000;
    width: 16px;
    height: 16px;
}
