html{
	background: #B4B7B8;
	background: #F9F5F5;
}

.cafe-topbar{
	background: #c30e2e;
}

.cafe-topbar .cafe-topbar-brand{
	border: 2px solid #1A171B;
	border-radius: 5px;
}

.app  .cate-wrp a{
	color:#c30e2e;
}
.app  .cate-wrp{
	background: #EEEEEE;
	color:#c30e2e;
}

.app .cate-wrp .cate-item .item-icon{
	border: 2px solid #c30e2e;
}
.app .list-wrp .list-title{
	background: #c30e2e;
	color:#eeeeee;
}

.app .list-wrp .list-content{
	background: #eeeeee;
}

.app .footer{
	background:#c30e2e;
	color:#EEEEEE;
}

.app .news-wrp {
	background: #FEFFFE;
}

.app .news-wrp .news .post-title{
	color:#333333;
}
.app .news-wrp .news .post-date{
	color:#c30e2e;
}
.app .cafe-topbar .right-menu i{
	color:#2c272d;
}