<div class="centrar-contenido">
	<div class="primera">
		<p><span style="FONT-WEIGHT: bold">2011 © Cafés Oquendo</span> All rights reserved
			<br><a href="">浙江省杭州市西湖区振华路298号2幢1702室</a></p>
		<p>T: (+86) 0571-87357577 - F: (+86) 0571-87357573 - E-mail: china@saludbuy.com </p>
	</div>
	
	<div class="tercera">
		<div class="texto-superior">
			<div class="enlaces-editables">

				<a title="Go to Legal Text" href="http://en.cafesoquendo.com/pages/index/aviso-legal-2">法律信息</a>
				<a title="Go to Contact" href="{:U('Home/Index/contact')}">联系我们</a>
			</div>
			<div class="facebook">
				<a title="微信公众号: oquendo-cafe" target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzA4OTYzNTcxNw==&mid=203803095&idx=1&sn=c8713e6e75d8ec527f62ff1399e9d551#wechat_redirect">奥肯多微信（订阅号）</a>
			</div>
		</div>
		
		<div class="texto-inferior">
			<a title="Go to www.itboye.com" href="http://www.itboye.com/">Designed by ITBOYE</a>
		</div>

	</div>
</div>