<assign name="active" value="[active]" />
<ul>
	<li class="primero  <in name="active" value="14,15">sel</in> ">
		<a href="{:U('Home/Index/cafenews_view?id=14')}" class=" con-hijos" title="History "><span>历史 </span></a>
		
		<ul  <in name="active" value="16,17,18,19">style="display:none"</in> >
			<li class="primero <eq name="active" value="14">sel</eq> ">
				<a href="{:U('Home/Index/cafenews_view?id=14')}" title="咖啡的历史"><span>咖啡的历史</span></a>

			</li>
			<li class="ultimo <eq name="active" value="15">sel</eq> ">
				<a href="{:U('Home/Index/cafenews_view?id=15')}" title="Chronology of Coffee"><span>咖啡的大事记</span></a>

			</li>

		</ul>

	</li>
	<li class="ultimo <in name="active" value="16,17,18,19">sel</in> ">
		<a href="{:U('Home/Index/cafenews_view?id=16')}" class=" con-hijos" title="咖啡的生产流程"><span>咖啡的生产流程</span></a>
		
		<ul  <in name="active" value="14,15">style="display:none"</in> >
			<li class="primero <eq name="active" value="16">sel</eq> ">
				<a href="{:U('Home/Index/cafenews_view?id=16')}" title="咖啡的栽培"><span>栽培</span></a>
			</li>
			<li class="ultimo <eq name="active" value="17">sel</eq> ">
				<a href="{:U('Home/Index/cafenews_view?id=17')}" title="咖啡的收割"><span>收获</span></a>

			</li>
			<li class="ultimo <eq name="active" value="18">sel</eq> ">
				<a href="{:U('Home/Index/cafenews_view?id=18')}" title="咖啡的加工"><span>加工</span></a>

			</li>
			<li class="ultimo <eq name="active" value="19">sel</eq> ">
				<a href="{:U('Home/Index/cafenews_view?id=19')}" title="咖啡的烘培"><span>烘培</span></a>

			</li>

		</ul>
	</li>

</ul>