<div class="content-newsletter-pie">
	<div class="centrar-contenido">
		<div class="titulo-suscripcion">
			<img src="__PUBLIC__/Home/img/bg_newsletter_pie.png" alt="Suscríbete a nuestra newsletter">
			<h2>订阅我们</h2>
			<span>我们会将所有动态第一时间通知您</span>
		</div>
		<div class="formulario-newsletter">
			<form method="post" action="http://capsulasoquendo.us6.list-manage.com/subscribe/post?u=b742572b396b6cef0c9714299&id=333ff8774f" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
				<div class="buscador-pie">
					<input id="mce-EMAIL" name="EMAIL" onfocus="this.value=&#39;&#39;;" type="text" value="Your e-mail...">
					<div class="botones">
						<input type="submit" class="buscar" name="commit" value="Submit">
					</div>
					<div class="aceptaprivacidad">
						<input name="suscription[legal_check]" type="hidden" value="0">
						<input class="avisoLegal" id="aviso_legal_pie" name="suscription[legal_check]" type="checkbox" value="1">
						<label for="aviso_legal_pie" class="automatico">
							我同意<a href="">隐私策略</a>
						</label>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>