<extend name="template/base_index_am" />


<block name="area_header">
	
	<style type="text/css">
		.result-reporter{
			width:100%;
			padding: 10px;
			margin-bottom: 20px;
		}
		
		.result-reporter .tag{
			display: none;	
		}
		
		.result-reporter.reviewed .tag{
			display:block;
		}
		
		@media only screen and (min-width: 640px) {
			.admin-content{
				background: #9D8E8E;
				padding: 20px;
			}
			.result-reporter{
				width:640px;
				margin:0 auto;
				background: #FFFFFF;
				padding: 10px;
				margin-bottom: 20px;
			}
			[class*=am-u-]+[class*=am-u-]:last-child{
				float:none;
			}
		}
		
		@media only screen and (min-width: 940px) {
			.result-reporter{
				width:940px;
				padding: 20px;
			}
		}
		
		@media only screen and (min-width: 1024px) {
			.result-reporter{
				width:1024px;
				padding: 20px;
			}
		}
		
		
		
	</style>
	<script type="text/javascript" src="__CDN__/echarts/2.2.2/echarts.js"></script>
</block>

<block name="area_body">
	<div class="admin-content">
		
		<div <eq name="result['review']" value="1" > class="result-reporter reviewed" <else/> class="result-reporter" </eq> >
			
			<div class="tag am-text-center">
				已通过 <button type="button" class="js_adjust am-btn am-btn-sm am-btn-danger" ><i class="am-icon-adjust"></i>重新修改评阅意见</button>
			</div>
			<div class="reporter-check am-text-center">
				<div class="am-margin-bottom-sm js_edit_form <eq name="data['review']" value="1">am-hide</eq>">
					<form class="editForm">
						<label>意见</label>
						<div class="am-form-group">
							<textarea name="notes" class="am-form-field" rows="3" placeholder="此处若有意见可以填写，250个字以内">{$data['review_notes']}</textarea>
						</div>
						<a target-form="editForm"  class="ajax-post am-btn am-btn-sm am-btn-primary am-btn-block" href="{:U('Admin/TestSysReporter/pass',array('id'=>$id,'eval_type'=>$eval_type))}"><i class="am-icon-check"></i>通过</a>
						
						
					</form>
				</div>
				<div class="am-cf">
					<notempty name="prev">						
					<a href="{:U('Admin/TestSysReporter/view',array('org_id'=>$org_id,'id'=>$prev['id'],'eval_type'=>$eval_type))}" class="am-fl am-btn am-btn-sm am-btn-default"><i class="am-icon-chevron-left"></i> 上一个</a>					
					<else/>
					<a href="javascript:void(0)" class="am-fl am-btn am-btn-sm am-btn-primary am-disabled">没有上一个了!</a>		
					</notempty>
					
					<notempty name="next">
					<a href="{:U('Admin/TestSysReporter/view',array('org_id'=>$org_id,'id'=>$next['id'],'eval_type'=>$eval_type))}" class="am-fr am-btn am-btn-sm am-btn-primary">下一个 <i class="am-icon-chevron-right"></i></a>
					<else/>
					<a href="javascript:void(0)" class="am-fr am-btn am-btn-primary am-btn-sm am-disabled">没有下一个了!</a>		
					</notempty>
				</div>
			</div>
			
			<!--
            	作者：hebiduhebi@126.com
            	时间：2015-06-01
            	描述：内容通用与前台
            	＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
            -->
			
			
			
			
			
			<div class="reporter-user-info am-text-center">
				<h1>测验结果报告</h1>
			</div>
			<div class="chart">
				<div id="main" style="height:400px;"></div>
			</div>
			<div>
				<ul class="am-list am-list-static am-list-border">
					<li >总分: <span class="am-badge <if condition="$data['_data']['f_score'][0]['allscore'] gt 160">am-badge-danger<else/>am-badge-primary</if> ">{$data['_data']['f_score'][0]['allscore']}</span></li>
					<li >阳性项目数: <span class="am-badge  <if condition="$data['_data']['f_score'][0]['positive_items'] gt 43">am-badge-danger<else/>am-badge-primary</if> ">{$data['_data']['f_score'][0]['positive_items']}</span> </li>
					<li >阳性症状均分: <span class="am-badge  <if condition="$data['_data']['f_score'][0]['avg'] gt 2">am-badge-danger<else/>am-badge-primary</if> ">{$data['_data']['f_score'][0]['avg']}</span> </li>
				</ul>
				
			</div>
			因子分： 			<div class="am-g">
				<div class="am-u-md-4 am-u-sm-6">(1)躯体化：{$data['_data']['f_score'][1]['avg']}</div>		
				<div class="am-u-md-4 am-u-sm-6">(2)强迫：{$data['_data']['f_score'][2]['avg']}</div>		
				<div class="am-u-md-4 am-u-sm-6">(3)人际关系：{$data['_data']['f_score'][3]['avg']}</div>		
				<div class="am-u-md-4 am-u-sm-6">(4)抑  郁：{$data['_data']['f_score'][4]['avg']}</div>		
				<div class="am-u-md-4 am-u-sm-6">(5)焦虑：{$data['_data']['f_score'][5]['avg']}</div>		
				<div class="am-u-md-4 am-u-sm-6">(6)敌    对：{$data['_data']['f_score'][6]['avg']}</div>		
				<div class="am-u-md-4 am-u-sm-6">(7)恐  怖：{$data['_data']['f_score'][7]['avg']}</div>		
				<div class="am-u-md-4 am-u-sm-6">(8)偏执：{$data['_data']['f_score'][8]['avg']}</div>		
				<div class="am-u-md-4 am-u-sm-6">(9)精神病性：{$data['_data']['f_score'][9]['avg']}</div>		
				<div class="am-u-md-4 am-u-sm-6">(10)其 它：{$data['_data']['f_score'][10]['avg']}</div>
			</div>
			<hr/>
			<div class="report-desc">
				<h4 class="am-text-center">分析报告</h4>
			</div>
			<div class="report-info">
				<!-- 描述 -->
				<div class="desc">
					<volist name="data['_data']['desc']['desc']" id="vo">
						<p>{$vo}</p>
					</volist>
				</div>
				
				<!-- F1-F10因子分 -->
				<div class="desc-f110">
					<volist name="data['_data']['desc']['descF110']" id="vo">
						<p>{$vo}</p>
					</volist>
				</div>
				
				<!-- F1-F10因子分 -->
				<div class="desc-summary">
					<volist name="data['_data']['desc']['summary']" id="vo">
						<p>{$vo}</p>
					</volist>
				</div>
				
			</div>
			
			<div class="am-cf">
					<notempty name="prev">						
					<a href="{:U('Admin/TestSysReporter/view',array('org_id'=>$org_id,'id'=>$prev['id'],'eval_type'=>$eval_type))}" class="am-fl am-btn am-btn-sm am-btn-default"><i class="am-icon-chevron-left"></i> 上一个</a>					
					<else/>
					<a href="javascript:void(0)" class="am-fl am-btn am-btn-sm am-btn-primary am-disabled">没有上一个了!</a>		
					</notempty>
					
					<notempty name="next">
					<a href="{:U('Admin/TestSysReporter/view',array('org_id'=>$org_id,'id'=>$next['id'],'eval_type'=>$eval_type))}" class="am-fr am-btn am-btn-sm am-btn-primary">下一个 <i class="am-icon-chevron-right"></i></a>
					<else/>
					<a href="javascript:void(0)" class="am-fr am-btn am-btn-primary am-btn-sm am-disabled">没有下一个了!</a>		
					</notempty>
			</div>
		</div>
	</div>
</block>

<block name="area_footer">
	<script type="text/javascript">
		$(function(){
			$(".js_adjust").click(function(){
				$(".js_edit_form").removeClass("am-hide");
			})
		})
        require.config({
            paths: {
                echarts: '__CDN__/echarts/2.2.2'
            }
        });
        require(
            [
                'echarts',
                'echarts/chart/line',   // 按需加载所需图表，如需动态类型切换功能，别忘了同时加载相应图表
            ],
            function (ec) {
                var myChart = ec.init(document.getElementById('main'));
                  var option = {
                  	title : {
				        text: '',
				        subtext: '浏览器宽度原因，部分因子可能显示不全'
				    },
                    tooltip: {
                        show: true
                    },
                    legend: {
                        data:['因子分']
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : ["躯体化","强迫","人际关系","抑郁","焦虑","敌对","恐怖","偏执","精神病性","其它"]
                        }
                    ],
                    yAxis : [
                        {
                        		min:0,
                        		max:5.0,
                             type : 'value'
                        }
                    ],
                    series : [
                        {
                            "name":"因子分",
                            "type":"line",
                            "data":[{$data['_data']['f_score'][1]['avg']}, {$data['_data']['f_score'][2]['avg']}, {$data['_data']['f_score'][3]['avg']}, {$data['_data']['f_score'][4]['avg']}, {$data['_data']['f_score'][5]['avg']}, {$data['_data']['f_score'][6]['avg']},{$data['_data']['f_score'][7]['avg']},{$data['_data']['f_score'][8]['avg']},{$scores[9]['avg']},{$scores[10]['avg']}]
                        }
                    ]
                };
        
                myChart.setOption(option);
            }
        );
    </script>
</block>